<%= content_for :header_title do %>

    condiciones 

<% end %>

<%= content_for :header_sub_title do %>

   condiciones
<% end %>

<h2>Condiciones y Servicios</h2>

<p>Brindamos el más alto servicio de administración respaldado por nuestra calidad y reputación, contando con el mejor equipo de profesionales especializados para otorgarte una solución a tu necesidad de estacionamiento.

Disponemos de personal altamente capacitado y equipamiento con la más alta tecnología de la industria de estacionamientos.

Para mayor información comunícate con caca@instanparking.com</p>

<h2>Red de Servicios</h2>

<p>Estaciónate en la red más grande de estacionamientos del Perú. Contamos con estacionamientos en diferentes distritos de Lima Metropolitana.
    Encuentra la más cercana según tus necesidades y disfruta de la seguridad y modernidad.</p>

<ul>

<li>Cercado de Lima</li>
<li>San Juan de Miraflores</li>
<li>Villa el Salvador</li>
<li>Villa Maria del Triunfo</li>

</ul>

<h2>Vallet Parking</h2>

<p>Ofrecemos la solución al déficit de estacionamientos con las garantías requeridas y personal altamente calificado. 
Este servicio puede estar tanto en nuestras operaciones comerciales como en eventos.</p>


<h2>Vallet Parking VIP</h2>

<p>Ofrecemos nuestro servicio a todos los establecimientos comerciales que desean brindar un valor agregado a sus clientes, 
de acuerdo a sus necesidades de estacionamiento; otorgando un servicio de calidad implementado con la más alta tecnología y equipamiento en la industria del Valet Parking.</p>

<h2>Guardiania</h2>
<p>Nos comprometemos a brindar la mejor atención a tu vehículo, ofreciéndote toda la seguridad y la tranquilidad 
que deseas mientras te encuentras de viaje.</p>