<h1>CONTACTO</h1>
<hr>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.261145304858!2d-77.05017688556774!3d-12.094266346077907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c85103b72103%3A0x3f1fcf3164df2673!2sAv+Javier+Prado+Oeste+1650%2C+Lima+15073!5e0!3m2!1ses!2spe!4v1458608258406" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<div>
    <p>
        Ubícanos en :<br>
        Av. Javier Prado Oeste 1650 San Isidro, Lima – Perú
    </p>
    <p>
         Atención al cliente  :<br>
        (511) 505 5000
    </p>
    <p>
    Si deseas obtener más información acerca de nuestros servicios, por favor llena el siguiente formulario y nos contactaremos contigo lo más pronto posible. Gracias.
    </p>
</div>
<div>
<form class="simple_form row" novalidate="novalidate" id="new_contact" action="" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="â"><input type="hidden" name="authenticity_token" value="13ahJWpKHR+jdHAX9xd0SppiTT5nYDeJedz/3n2GmDKjyFbBZsqQgjikcwkAMQvoUPZUrEaNPKM6u/qOZDBDyw==">
					<div class="col-md-6 col-sm-6 form-group">
						<div class="input string required contact_name"><label class="string required" for="contact_name"><abbr title="required">*</abbr> Name</label><input class="string required form-control" placeholder="Your Name" type="text" name="contact[name]" id="contact_name"></div>
					</div>
					<div class="col-md-6 col-sm-6 form-group">
						<div class="input email required contact_email"><label class="email required" for="contact_email"><abbr title="required">*</abbr> Email</label><input class="string email required form-control" placeholder="E-mail Address" type="email" name="contact[email]" id="contact_email"></div>
					</div>
					<div class="col-md-6 col-sm-6 form-group">
						<div class="input tel optional contact_phone"><label class="tel optional" for="contact_phone">Phone</label><input class="string tel optional form-control" placeholder="Phone" type="tel" name="contact[phone]" id="contact_phone"></div>
					</div>
					<div class="col-md-6 col-sm-6 form-group">
						<div class="input string optional contact_subject"><label class="string optional" for="contact_subject">Subject</label><input class="string optional form-control" placeholder="Subject" type="text" name="contact[subject]" id="contact_subject"></div>
					</div>
					<div class="col-md-12 col-sm-12 form-group">
						<div class="input text optional contact_message"><label class="text optional" for="contact_message">Message</label><textarea class="text optional form-control" placeholder="Message:" name="contact[message]" id="contact_message"></textarea></div>	
					</div>
					<div class="col-md-12">
						<input type="submit" name="commit" value="Send Message" input_html="{:class=>&quot;btn btn-default&quot;}" class="btn">
					</div>
</form>
</div>
