<div class="panel panel-success">
  <div class="panel-body">
      Cont&aacute;ctenos
  </div>
  <div class="panel-body" > <p>Por favor Ingrese sus datos y su consulta en el formulario :</p>
      
      
  </div>
  <div class="jumbotron" style="padding-top: 15px;padding-left: 20%;margin: auto;padding-right: 20%;">
     <table >
         <tr>
             <td>
                <div class="input-group">
                     <span class="input-group-addon" id="basic-addon1">Nombres   : </span>
                     <input type="text" class="form-control" placeholder="Nombres" aria-describedby="basic-addon1"/>
                 </div>
             </td>
             <tr>
                 <td>
                <div class="input-group">
                     <span class="input-group-addon" id="basic-addon1">Email   : </span>
                     <input type="Email" class="form-control" placeholder="Nombres" aria-describedby="basic-addon1"/>
                 </div>
             </td>
             </tr>
                <tr>
                     <td>
                        <div class="input-group">
                         <span class="input-group-addon" id="basic-addon1">Tel&eacute;ono   : </span>
                         <input type="Tele" class="form-control" placeholder="Tel&eacute;fono" aria-describedby="basic-addon1"/>
                         </div>
                     </td>
                 </tr>
                 <tr>
                     <td>
                        <div class="input-group">
                         <span class="input-group-addon" id="basic-addon1">Ciudad : </span>
                         <input type="text" class="form-control" placeholder="Ciudad" aria-describedby="basic-addon1"/>
                         </div>
                     </td>
                 </tr>
                     <tr>
                     <td>
                         <div class="input-group">
                         <span class="input-group-addon" id="basic-addon1">Mensaje : </span>
                      
                         <textarea name="txtarea"class="form-control"  placeholder="Mensaje" aria-describedby="basic-addon1"></textarea>
                         </div>
                     </td>
                 </tr>
         </tr>
         
     
       
     </table>
        <tr>
            <div class="input-group">
             <input type="checkbox"   name="chkrecibir" value="Bike">  ¿Deseo recibir información de promociones y novedades?
            </div>
            
        </tr>   
   
         <%= link_to "Enviar",  trasaction_confirmation_path , :class => "btn btn-primary btn-lg"%>
         
     </div>
  </div>
</div>
