<div class="image_home" >
    
  <div style=" margin: 0px;text-align: center;padding-top: 30px;">
    <span class="titulo_home">InstanParking</span><br/>
    <span  class="subtitulo_home">Disfruta del nuevo espacio perfecto<span><br/><br/>
  </div>  
<div style="padding-top: 20px; padding-left:40%">
<div class="dropdown" >
    <button class="btn btn-info dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Distritos - Lima
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation"> <%= link_to "Cercado de Lima", trasaction_list_path  %></li>
      <li role="presentation">  <%= link_to "San Juan de Miraflores", trasaction_list_path  %></li>
      <li role="presentation">  <%= link_to "Villa el Salvador", trasaction_list_path  %></li>
      <li role="presentation">  <%= link_to "Villa Maria del Triunfo", trasaction_list_path  %></li>
    </ul>
</div>
</div>
</div>