<%= content_for :header_title do %>
Servicios Ofrecidos por InstaParking
<% end %>
 
 <%= content_for :header_sub_title do %>

<% end %>
 
<li><ul><h4> Servicio de Alquiler de Espacios de Estacionamiento  </h4></ul></li>
    <p><ul>
        Proporciona una lista de espacios de estacionamiento con la posibilidad de realizar una busqueda
        personalizada aplicando fecha hora y el tipo de alquiler
    </ul> 
    <ul>
        Proporciona una lista de espacios de estacionamientos con ofertas disponibles junto con la tarifa asociada
    </ul>

</br>
<li><ul><h4> Creaci&oacute;n de Ofertas de Alquiler de Espacios de Estacionamiento  </h4></ul></li>
<ul>
<p> InstapParking permite a sus usuarios poder realizar ofertas de los espacios de estacionamientos disponibles.</p>
<p> El usuario ofertante debee registrar la plantilla de registro de alquiler por ofertas  asignando la informaci&oacute; del mismo, incluyendo fotografias y caracteristicas que pueda aportar valor.
</p>
</ul>

</br>

<li><ul><h4> Reserva de Espacios de Estacionamientos </h4></ul></li>
<ul>
<p>  Para poder realizar una reserva de espacio de estacionamiento, el usuario previamente debe autenticarse en nuestra pagina web </p>
<p>  elige el espacio de estacionamiento de preferencia y procede con la recepcion del mismo </p>
</ul>

</br>

<li><ul><h4> Medio de Pago  Alquiler de Estacionamientos </h4></ul></li>
<ul>
<p>  InstaParking le permite realizar pagos a través de tarjetas de debito y tarjetas de credito : Visa  & Master Card  </p>
<p>  Es necesario que cuente con numero de la reserva para proceder con el Pago del alquiler de estacionamiento elegido</p>
</ul>

</br>

<li><ul><h4> Lista de Estacionamientos Favoritos </h4></ul></li>
<ul>
<p>  InstaParking cuenta con la opcion de asignar los espacios de estacionamiento de mayor frecuencia a la lista de estacionamiento favoritos y le permite una mejor busqueda del mismo.  </p>

</ul>