<%= content_for :header_title do %>

Preguntas

<% end %>

<%= content_for :header_sub_title do %>

Y Respuestas
<% end %>

<div class="col-md-9">
                
    
    <h2>Preguntas y Respuestas</h2>

            <!--Preguntas-->
            <ul class="nav-toc" id="faq">
            <li class="article row-fluid">
                <a href="#faq-51">
                    ¿Hay cargos adicionales en el sitio?
                </a>
            </li>
        
            <li class="article row-fluid">
                <a href="#faq-105">
                    ¿Se puede anular una reserva?
                </a>
            </li>
        
            <li class="article row-fluid">
                <a href="#faq-49">
                    ¿Puedo reservar un lugar a otro?
                </a>
            </li>
        
            <li class="article row-fluid">
                <a href="#faq-55">
                    ¿Puedo reservar un lugar por teléfono?
                </a>
            </li>
        
            <li class="article row-fluid">
                <a href="#faq-56">
                    ¿Puedo reservar más de una plaza de aparcamiento a la vez?
                </a>
            </li>
        
            <li class="article row-fluid">
                <a href="#faq-68">
                    ¿Puedo hacer una reserva mensual de sólo un mes?
                </a>
            </li>
        
            <li class="article row-fluid">
                <a href="#faq-95">
                    ¿Puedo hacer la cancelación de la reserva mensual?
                </a>
            </li>
        
            </ul>
            <br>
            <br>
            
            <!--Respuestas-->
            <ul class="nav-qa" id="faq">
        
            <li class="separator" id="faq-51"></li>
            <li class="article row-fluid">
                <a class="question" href="#faq-51">
                    ¿Hay cargos adicionales en el sitio?
                </a>
                <br>
                <span class="answer">
                    Las tasas adicionales serán anotados en la sección de información debajo del mapa, 
                    y visible antes de reservar su reserva. Si no hay cargos especiales indicados, no se le cobrará 
                    nada adicional. Esta es la condición de que no se exceda las horas asignadas para su reserva.
                </span>
            </li><br>
        
            <li class="separator" id="faq-105"></li>
            <li class="article row-fluid">
                <a class="question" href="#faq-105">
                    ¿Se puede anular una reserva?
                </a>
                <br>
                <span class="answer">
                    InstanParking realizara reembolsos que se soliciten antes de la hora de inicio de la reserva. 
                    Las devoluciones pueden ser credito a favor o una devolución en efectivo. Basta con enviar un correo electrónico. 
                    Los créditos nunca caducan y se aplicarán automáticamente a su próxima reserva. La evolución 
                    de dinero tarda 2-3 días útiles, notificaremos por correo.
                </span>
            </li><br>
        
            <li class="separator" id="faq-49"></li>
            <li class="article row-fluid">
                <a class="question" href="#faq-49">
                    ¿Puedo reservar un lugar a otro?
                </a><br>
                <span class="answer">
                    ¡Absolutamente! Asegúrese de entrar en su descripción del vehículo. Cuando llega el correo de confirmación 
                    simplemente reenviar el correo electrónico junto con el ticket de confirmación adjunta. Si necesita ayuda, no dude
                    en contactarse a nuestra Central de Llamadas: 0800123123 o por correo electrónico cac@instanparking.com.
                </span>
            </li><br>
        
            <li class="separator" id="faq-55"></li>
            <li class="article row-fluid">
                <a class="question" href="#faq-55">
                    ¿Puedo reservar un lugar por teléfono?
                </a><br>
                <span class="answer">
                    ¡Absolutamente! Comuniquese con nosotrsoa al 0800123123, estaremos encantados de ayudarle!
                </span>
            </li><br>
        
            <li class="separator" id="faq-56"></li>
            <li class="article row-fluid">
                <a class="question" href="#faq-56">
                    ¿Puedo reservar más de un estacionamiento a la vez?
                </a><br>
                <span class="answer">
                    Para reservar varios puntos tendrá que realizar la reserva por cada estacionamiento (siendo un maximo de 2). 
                </span>
            </li><br>
        
            <li class="separator" id="faq-68"></li>
            <li class="article row-fluid">
                <a class="question" href="#faq-68">
                    ¿Puedo hacer una reserva mensual de sólo un mes?
                </a><br>
                <span class="answer">
                    ¡Por supuesto! Sólo ponde en contacto con nosotros enviando un correo electrónico cac@instanparking.com, o llamando al 0800123123 
                    nosotros realizaremos la reserva por ti, enviando un correo de confirmación. Su reserva mensual expirará al final del primer mes.
                </span>
            </li><br>
        
            <li class="separator" id="faq-95"></li>
            <li class="article row-fluid">
                <a class="question" href="#faq-95">
                    ¿Puedo hacer la cancelación de la reserva mensual?
                </a><br>
                <span class="answer">
                    Por supuesto, solo tendra que llamarnos o enviarnos un correo electrónico en dentro de los 3 primeros dias después de haber
                    realizado la reserva, cabe indicar que se cobrara con tarifa normal los 3 días transcurridos.
                </span>
            </li><br>
        
            </ul>
        

    <div class="clearfix" style="height:100px"></div>

            </div>
