
<div class="row">
<div class="col-md-8">
 <div class="label_home">
        <label >© Copyright SoftPark 2016</label><br/>
        <label>
            Soft Park presenta el primer Servicio de estacionamiento compartido, más cercano, más barato y seguro donde te encuentres para toda Lima.<br> 
            Nos complace brindarle atención de calidad y seguridad para usted y su familia.
        </label>
 </div>
</div>
  <div class="col-md-2" >
      <%= image_tag "app-store-logo@2x.png", :class => "img_home_foot" %>
  </div>
   <div class="col-md-2 " >
      <%= image_tag "google-play-logo@2x.png", :class => "img_home_foot" %>
  </div>
</div>

