
<div class="row">
<div class="col-md-8">
 <div class="label_home">
        <label>© Copyright SoftPark </label><br/>
        <label>
            Soft Pak presenta el primer uso compartido de estacionamiento , mas cercano donde te encuentres mas barato y seguro de toda lima 
            Nos complace brindarle atencion de calidad y seguridad para usted y su familia
        </label>
 </div>
</div>
  <div class="col-md-2" >
      <%= image_tag "app-store-logo@2x.png", :class => "img_home_foot" %>
  </div>
   <div class="col-md-2 " >
      <%= image_tag "google-play-logo@2x.png", :class => "img_home_foot" %>
  </div>
</div>

