
<li><%= link_to "Información General", pages_information_path  %></li>

<li><%= link_to "Preguntas y Respuestas", pages_question_path  %></li>

<li><%= link_to "Condiciones ", pages_conditional_path  %></li>

<li><%= link_to "Contáctenos", pages_contac_path  %></li>


