
<li><%= link_to "Informacion ", pages_information_path  %></li>

<li><%= link_to "Preguntas frecuentes", pages_question_path  %></li>

<li><%= link_to "Condiciones y servicios ", pages_conditional_path  %></li>

<li><%= link_to "Contactanos", pages_contac_path  %></li>