<div class="panel panel-success">
  <div class="panel-body">
     Confirmacion
  </div>
  
  <div style="    padding-top: 15px;padding-left: 20%;margin: auto;padding-right: 20%;">
     <table class="table_register">
         <tr>
             <td>
                <div class="input-group">
                 <span class="input-group-addon" id="basic-addon1">Codigo Pago          : </span>
                 <label class="form-control">xxx-xxx-xxx
                 </div>
             </td>
             <td style="width:20px;"></td>
             <td></td>
         </tr>
         <tr>
             <td>
                <div class="input-group">
                 <span class="input-group-addon" id="basic-addon1">Usuario          : </span>
                 <label class="form-control">Ricardo Miguel Quispe Quispe
                 </div>
             </td>
             <td style="width:20px;"></td>
             <td>
                 <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">Precio       : </span>
                  <label class="form-control">S/. 10</label>
                 </div>
             </td>
         </tr>
         <tr>
             <td>
                <div class="input-group">
                 <span class="input-group-addon" id="basic-addon1">Hora Inicio          : </span>
                 <label class="form-control">8.00 AM</label>
             </td>
             <td style="width:20px;"></td>
             <td>
                 <div class="input-group">
                 <span class="input-group-addon" id="basic-addon1">Hora Fin       : </span>
                <label class="form-control">10.00 AM</label>
                 </div>
             </td>
         </tr>
         <tr>
             <td>
                <div class="input-group">
                 <span class="input-group-addon" id="basic-addon1">Correo : </span>
                 <label class="form-control">quispequispe.rm@gmail.com</label>
                 </div>
             </td>
             <td style="width:20px;"></td>
             <td>
                <div class="input-group">
                 <span class="input-group-addon" id="basic-addon1">Tipo de Pago : </span>
                 <label class="form-control">Contrapago</label>
                 </div>
             </td>
         </tr>
         <tr>
             <td>
                <div class="input-group">
                 <span class="input-group-addon" id="basic-addon1">Fecha  : </span>
                 <label class="form-control">23/03/2016</label>
                 </div>
             </td>
             <td style="width:20px;"></td>
             <td>
                <div class="input-group">
                 <span class="input-group-addon" id="basic-addon1">Tel&eacute;fono   : </span>
                 <label class="form-control">1245558554</label>
                 </div>
             </td>
         </tr>
         
         <tr>
             <td>
                <div class="input-group">
                 <span class="input-group-addon" id="basic-addon1">Total Pagar  : </span>
                 <label class="form-control" style="color:red">S/. 20</label>
                 </div>
             </td>
             <td style="width:20px;"></td>
             <td></td>
         </tr>
         
         
     </table>
   
     <div class="jumbotron">
         <%= link_to "Registar",  trasaction_confirmation_path , :class => "btn btn-primary btn-lg"%>
     </div>
  </div>
</div>
