
<div class="panel panel-success">
  <div class="panel-body">
      Registar Ofertas 
  </div>
  
  <div style="    padding-top: 15px;padding-left: 20%;margin: auto;padding-right: 20%;">
     <table class="table_register">
         <tr>
             <td>
                <div class="input-group">
                 <span class="input-group-addon" id="basic-addon1">Titulo         : </span>
                 <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                 </div>
             </td>
             <td style="width:20px;"></td>
             <td>
                 <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">Direccion       : </span>
                  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                 </div>
             </td>
         </tr>
         <tr>
             <td>
                <div class="input-group">
                 <span class="input-group-addon" id="basic-addon1">Precio (S/.)          : </span>
                 <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                 </div>
             </td>
             <td style="width:20px;"></td>
             <td></td>
         </tr>
         <tr>
             <td>
                <div class="input-group">
                 <span class="input-group-addon" id="basic-addon1">Caracteristicas      : </span>
                 <input type="password" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                 </div>
             </td>
             <td style="width:20px;"></td>
             <td></td>
         </tr>
         
         
     </table>
   
     
     <div class="jumbotron">
         <%= link_to "Registarse", pages_index_path , :class => "btn btn-primary btn-lg"%>
         
     </div>
  </div>
</div>